<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHYlMPfcTx8JU8uTcQSYk258fkIBmvgTg</string>
	<key>GCM_SENDER_ID</key>
	<string>996698290424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dartflutter.aviapoint.dev</string>
	<key>PROJECT_ID</key>
	<string>aviapoint-7f329</string>
	<key>STORAGE_BUCKET</key>
	<string>aviapoint-7f329.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996698290424:ios:4ba3a3bd5e887daa8f630d</string>
</dict>
</plist>